body {
	min-width: 1200px;

	font-size: 15px;
	line-height: 2;
	font-weight: 300;
	font-family: "Roboto Slab", "Times New Roman", serif;

	color: #000000;
	background-color: #ffffff;
}

/*
	Шапка
*/
.main-header {
	color: #000000;
	background-color: #edeff1;
}

.container {
	display: flex;
	justify-content: space-around;
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.logo {
	display: flex;
	flex-direction: column;
	width: 320px;
	padding-top: 45px;
	padding-bottom: 47px;
	margin-right: 60px;
	margin-bottom: 2px;

	font-size: 36px;
	line-height: 1.2;
	font-weight: 700;
	text-align: center;

	color: #31353e;
}

.logo span {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;

	color: #dd4b2b;
}

.main-menu {
	width: 770px;
}

.main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;

	font-size: 0;
}

.menu-item {
	display: inline-block;
	margin-right: 40px;
	padding-top: 68px;

	vertical-align: baseline;
}

.menu-item:last-of-type {
	margin-right: 0;
}

.menu-item a {
	font-size: 18px;
	line-height: 1.3;
	font-weight: 400;
	text-decoration: none;

	color: #31353e;
}

.menu-item.active {
	padding: 15px 30px;
	margin-right: 10px;
	margin-left: -30px;

	background-color: #dd4b2b;
	border-radius: 25px;
}

.menu-item.active a {
	color: #edeff1;
}

.menu-item a:hover {
	color: #dd4b2b;
	transition: color 0.3s cubic-bezier(0.65, 0.35, 0.3, 1);
}

.menu-item.active a:hover {
	color: #edeff1;
}


/*
	Основное содержимое
*/

.main-content {
	padding-top: 485px;
	padding-bottom: 135px;

	background: #000000 url("../img/panakeia-photo.jpg") no-repeat;
	background-size: 100% 100%;
	color: #ffffff;
}

.main-content .container {
	flex-direction: column;
}

.slogan {
	margin-bottom: 130px;

	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);

	color: #ffffff;
}

.slogan h1 {
	margin: 0;

	font-size: 72px;
	line-height: 1.2;
	font-weight: 300;
}

.slogan small {
	font-size: 30px;
	line-height: 1.6;
	font-weight: 700;
}

.food {
	display: flex;
	margin-bottom: 80px;

	text-align: center;
}

.food div {
	position: relative;

	width: 370px;
	margin-right: 30px;
	padding-top: 170px;
}

.food div::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;

	width: 134px;
	height: 134px;
	margin-left: -70px;

	border-radius: 50%;
	border: 7px solid #edeff1;
}

.food .food-1::before {
	background-image: url("../img/food-1.png");
}

.food .food-2::before {
	background-image: url("../img/food-2.png");
}

.food .food-3::before {
	width: 133px;
	height: 133px;

	background-image: url("../img/food-3.png");
}

.food-name {
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
}

.food-description {
	font-size: 15px;
	line-height: 2;
	font-weight: 300;
}

.btn {
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;

	text-decoration: none;
	text-align: center;
	vertical-align: middle;

	background-color: #ffffff;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
}

.read-more {
	width: 210px;
	margin: 0 auto;

	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;

	color: #612316;
}

.btn:hover {
	background-color: #d75d0e;
	color: #ffffff;

	transition: all 0.3s cubic-bezier(0.65, 0.35, 0.3, 1);
}

.news-header {
	margin: 0;
	margin-bottom: 85px;

	font-size: 30px;
	line-height: 1.3;
	font-weight: 700;
	text-align: center;

	color: #31353e;
}

.news {
	padding-top: 77px;

	background-color: #edeff1;

	color: #000000;
}

.news-1,
.news-2,
.news-3 {
	width: 370px;
	margin-right: 30px;

	text-align: center;
}

.news-3 {
	margin-right: 0;
}

.news img {
	margin-bottom: 35px;
}

.news .read-more {
	margin-bottom: 100px;

	background-color: #ffffff;
}

.news .read-more:hover {
	background-color: #612316;
}

.news-headline {
	margin: 0;
	margin-bottom: 10px;

	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
}

.news-description {
	margin: 0;
	margin-bottom: 30px;
}

.newsletter {
	padding-top: 83px;
	padding-bottom: 110px;
	margin-bottom: 65px;

	background: #533125 url("../img/newsletter-bg.jpg") no-repeat;
	background-size: 100% 100%;
}

.newsletter .container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.newsletter-header {
	margin: 0;
	margin-bottom: 8px;

	font-size: 30px;
	line-height: 1.6;
	font-weight: 700;
	text-align: center;

	color: #ffffff;
}

.newsletter-description {
	width: 540px;
	margin: 0;
	margin-bottom: 40px;

	line-height: 1.6;
	text-align: center;

	color: #ffffff;
}

.newsletter form {
	position: relative;
}

.user-email {
	width: 390px;
	margin: 0;
	padding: 15px 35px;
	padding-right: 220px;

	font-size: 18px;
	line-height: 1.6;
	font-weight: 400;
	font-family: "Roboto Slab", "Times New Roman", serif;

	color: #f3f4f6;
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	outline: none;
}

.sign-up {
	position: absolute;
	right: 0;
	top: 0;

	padding: 15px 70px;

	font-size: 18px;
	line-height: 1.6;
	font-weight: 400;

	color: #612316;
}

.product-details {
	margin-bottom: 85px;
}

.product-details .container {
	flex-wrap: wrap;
}

.product-1,
.product-2 {
	display: flex;
}

.product-1 .details {
	width: 600px;
	margin-right: 40px;
	margin-bottom: 115px;
}

.product-1 .product {
	margin-bottom: 105px;
}

.product-2 .details {
	width: 600px;
	margin-left: 40px;
}

.product-2 .product {
	order: -1;
}

.product-1 .product-header {
	padding-top: 40px;
}

.product-2 .product-header {
	padding-top: 60px;
}

.product-header {
	margin: 0;
	margin-bottom: 17px;

	font-size: 30px;
	line-height: 1.6;
	font-weight: 700;

	color: #191b29;
}

.product-description {
	margin: 0;
	margin-bottom: 45px;

	color: #191b29;
}

.product {
	width: 580px;
	min-height: 400px;
	border: 1px solid #dbdbdb;
}

.product-details .sign-up {
	position: static;
}

.product-1 .sign-up {
	background-color: #dd4b2b;
	color: #ffffff;
}

.product-2 .sign-up:hover,
.product-1 .sign-up:hover {
	background-color: #612316;
}

.product-2 .sign-up {
	background-color: #4b4e73;
	color: #ffffff;
}
